{% extends 'MyApp/layoute.html' %}

{% block title %}
    <title>Add posts</title>
{% endblock %}

{% block content %}
<body class="special-page">
<h1>Add your posts here!</h1>
<div>
    <h2>Form for adding new posts</h2>
    <form method="post" class="p-4 border rounded">
        {% csrf_token %}
        {{ form.title }} <br>
        {{form.author}} <br>
        {{form.short_description}} <br>
        {{ form.text }} <br>
        {{ form.pub_date}} <br>
        <button type="submit" class="btn btn-primary">Add post</button>
    </form>
    <p> {{error}} </p>
</div>
</body>
{% endblock %}