{% extends 'MyApp/layoute.html'%}

{% block title %}
    <title>Blog page</title>
{% endblock %}

{% block content %}
<h1>Blog page</h1>
    {% if news %}
        {% for new in news %}
            <div>
                <h2>{{ new.title }}</h2>
                <p><strong>Author:</strong> {{ new.author.username }}</p>
                <p>{{ new.short_description }}</p>
                <p>{{ new.text }}</p>
                <p><strong>Published on:</strong> {{ new.pub_date }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h3>There are no news for today</h3>
    {% endif %}

{% endblock %}